body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    /* Fundo branco */
    color: #000000;
    /* Texto preto */
}

.container {
    text-align: center;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #000000;
    /* Fundo preto */
    color: #ffffff;
    /* Texto branco */
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.button:hover {
    background: #444444;
    /* Cinza escuro no hover */
}